.home-container {
    display: flex;
    height: 100vh; /* 기본 높이 설정 */
    flex-direction: row; /* 기본 방향을 가로로 설정 */
}

@media (max-width: 1070px) {
    .home-container {
        height:  200vh; /* 높이를 자동으로 조정 */
        flex-direction: column; /* 세로 방향으로 변경 */
    }
    .sidebar {
        /* 세로 방향일 때의 스타일 */
       display: none;
    }
    #map {
        height: 100%; /* 부모 요소의 높이에 맞추기 */
        flex: 1;
    }
}
